/* ====== COMMON STYLES ====== */

body {
    font-family: "Roboto",  sans-serif;
    color:#434455;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;  
}

button {
    cursor: pointer;
}
/* ====== HEADER STYLES ====== */
.page-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        
        
}

.logo-span {
color: #2e2f42;
}
    

.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}

.address {
    font-style: normal;
}


.adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}
.adress-link:hover,
.adress-link:focus {
 color: #404bbf;
}

/* ====== SECTION ONE ====== */

.section-hero {
    background-color: #2e2f42;
}

.section-title {
    
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
}

.main-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}

/* ====== SECTION TWO====== */

.section-two {
    background-color: #ffffff;
}
.section-paragraph-tittel {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.section-paragraph-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ====== SECTION THREE ====== */


.section-three {
    background-color: #F4F4FD;
}

.section-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-item {
background-color: #ffffff;
}
.section-paragraph-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
 .section-paragraph-content {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        }
            


/* ====== SECTION FOUR====== */

.section-four {
    background-color: #ffffff;
    }

.section-four-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.section-four-item {
    background-color: #ffffff;
}
    
.section-four-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.section-four-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/* ======== FOOTER ============= */

.footer {
    background: #2e2f42;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-logo {
color: #f4f4fd;
}

.footer-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

